<h2>Por Region</h2>
<hr />

<div class="row">
  <div class="col text-center">
    <!-- searchbox -->
    <!-- <shared-search-Box (oneValue)="searchByRegion($event)"> </shared-search-Box> -->
    <button
      *ngFor="let region of regions"
      class="btn mx-2"
      [ngClass]="{'btn-outline-primary': selectedRegion !== region,
        'btn-outline-danger': selectedRegion === region
      }"
      (click)="searchByRegion(region)"
    >
      {{ region }}
    </button>
  </div>

  <div class="row">
    <div class="col">
      <hr />
      <!-- tabla -->
      <shared-loading-spiner *ngIf="isLoading"></shared-loading-spiner>
      <countries-table [countries]="country"></countries-table>
    </div>
  </div>
</div>
